.Nav{
  text-align: center;
  font-family:'Josefin Slab',
  serif;font-size: 24px;
  font-weight: bold;width: 90%;
  margin-left: 1rem;
}

.head{
  //text-align: center;
  font-family:'Josefin Slab',
  serif;
  font-size: 20px;
  font-weight: bold;
  width: 30%;
  //margin-left: 1rem;
}


.head_u{
  //text-align: center;
  font-family:'Josefin Slab',
  serif;
  font-size: 20px;
  font-weight: bold;
 // width: 5%;
  //margin-left: 1rem;
}

.mat-raised-button{
  margin-left: 3rem;
}


.green {
  background-color: rgb(4, 22, 190);
}

.red {
  background-color: rgb(6, 189, 143);
}
