
<p>New Component</p>
<h4 class="head">List of Competative Exam</h4>

<div class="row">
    <div class="col">
    <mat-form-field class="col-md-6" style="width: 75%;margin-left: 5rem;">
      <input matInput style="width: 75%;" (keyup)="applyFilter($event)" placeholder="Search...">
    </mat-form-field>
    </div>
    <!-- <div class="col-md-1"></div> -->
    <div class="col">
    <!-- <div class="col-md-3">
      <div class="card-body table-responsive==">
        <button mat-raised-button color="accent" class="saveBtn" (click)="addNewCompetativeExams()">Add New Details</button>
      </div>
    </div>
    </div> -->
    </div>
    
    <div class="table-responsive">
      <h3 style="text-align: right; color:rgb(201, 49, 11);margin-right:10rem; font-family: Arial, Helvetica, sans-serif;font-size:15px">Total: {{this.competative_dataSource.data.length}}     Selected: {{this.competative_dataSource.filteredData.length}} </h3>
    <table mat-table [dataSource]="competative_dataSource" class="mat-elevation-z8  ">
    
    
      <ng-container matColumnDef="year">
        <th mat-header-cell *matHeaderCellDef> Year </th>
        <td mat-cell *matCellDef="let element"> {{element.year}} </td>
      </ng-container>
      <ng-container matColumnDef="program">
        <th mat-header-cell *matHeaderCellDef> Programme </th>
        <td mat-cell *matCellDef="let element"> {{element?.program.programName}} </td>
      </ng-container>
    
      <ng-container matColumnDef="program_code">
        <th mat-header-cell *matHeaderCellDef> Prog. Code </th>
        <td mat-cell *matCellDef="let element"> {{element?.program.programCode}} </td>
      </ng-container>

      <ng-container matColumnDef="reg_no">
        <th mat-header-cell *matHeaderCellDef> Registration No. for exam  </th>
        <td mat-cell *matCellDef="let element"> {{element.regiNumber}} </td>
      </ng-container>
      
      <ng-container matColumnDef="name_of_student">
        <th mat-header-cell *matHeaderCellDef> Name of Student </th>
        <td mat-cell *matCellDef="let element"> {{element.user.firstName}} {{element.user.middleName}} {{element.user.lastName}} </td>
      </ng-container>
    
    
      <ng-container matColumnDef="qualifying_exam">
        <th mat-header-cell *matHeaderCellDef> Qualitfying Exam</th>
        <td mat-cell *matCellDef="let element"> {{element.exams}} </td>
      </ng-container>
    
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef> Date </th>
        <td mat-cell *matCellDef="let element"> {{element.date | date:'dd/MM/yyyy'}} </td>
      </ng-container>
    
      <ng-container matColumnDef="name_of_org">
        <th mat-header-cell *matHeaderCellDef> Name of Organization  </th>
        <td mat-cell *matCellDef="let element"> {{element.nameOfOrganization}} </td>
      </ng-container>
    
    
      <!-- <ng-container matColumnDef="level">
        <th mat-header-cell *matHeaderCellDef> Level </th>
        <td mat-cell *matCellDef="let element"> {{element.achievementLevel}} </td>
      </ng-container> -->
    
        <ng-container matColumnDef="report_upload">
        <th mat-header-cell *matHeaderCellDef> Certificate/Letter </th>
        <td mat-cell *matCellDef="let element">
          <a mat-raised-button color="primary" [disabled]="!element.letter" href="{{this.service.BASE_URL}}/resources/uploads/{{element.letter}}" target="_blank">View</a>
        </td>
      </ng-container>
     <!--<tr mat-header-row *ma  <ng-container matColumnDef="level">
        <th mat-header-cell *matHeaderCellDef> Level </th>
        <td mat-cell *matCellDef="let element"> {{element.achievementLevel}} </td>
      </ng-container>
    
      <ng-container matColumnDef="report">
        <th mat-header-cell *matHeaderCellDef> Report </th>
        <td mat-cell *matCellDef="let element">
          <a mat-raised-button color="primary" [disabled]="!element.achievementCertificate" href="{{this.service.BASE_URL}}/resources/uploads/{{element.achievementCertificate}}" target="_blank">View</a>
        </td>
      </ng-container>tHeaderRowDef="displayedColumns"></tr> -->
    
      <ng-container matColumnDef="edit_competative">
        <td mat-cell
          *matCellDef="let row"
          [style.color]="row.color"
          data-label="Edit :">
          <button mat-button color="primary" (click)="edit_competative(row)">
            <mat-icon style="color: black">edit</mat-icon>
          </button>
        </td>
        <th mat-header-cell *matHeaderCellDef>Edit</th>
      </ng-container>
    
      <ng-container matColumnDef="delete_competative">
        <td mat-cell
          *matCellDef="let row"
          [style.color]="row.color"
          data-label="Delete :">
          <button mat-button color="primary" (click)="delete_competative(row)">
            <mat-icon style="color: black; cursor: pointer"
            >delete_forever</mat-icon>
          </button>
        </td>
        <th mat-header-cell *matHeaderCellDef>Delete</th>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns5" style="background-color:rgb(105, 109, 108);"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns5;" style="background-color:white"></tr>
    
    </table>
    <br><br>
    
    
    </div>