<div class="row" style="margin-top: 4%;margin-left: 0.5rem;display: flex;flex-wrap: wrap; ">

  <div class="col-sm-3 ">
    <mat-card class="shadow p-1 mb-5 bg-body rounded" style="background-color: rgb(170, 230, 225);">
      <div class="card-body">
        <h2 class="card-title" >Teacher One Time Form</h2><br><br>
        <!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> -->
        <a routerLink="/teacher-layout/onetimeform" class="btn mat-raised-button btn-warning">Select</a>
      </div>
    </mat-card>
  </div>
  <div class="col-sm-3">
    <mat-card class="shadow p-1 mb-5 bg-body rounded">
      <div class="card-body">
        <h2 style="margin-bottom: -2rem;"  class="card-title">Service Details (Appointment Details)</h2><br><br><br>
        <!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> -->
        <a routerLink="/teacher-layout/servicedetails" class="btn mat-raised-button btn-warning" >Select</a>
      </div>
    </mat-card>
  </div>
  <div class="col-sm-3">
    <mat-card class="shadow p-1 mb-5 bg-body rounded" style="color:">
      <div class="card-body">
        <h2 style="margin-bottom: -2rem;"  class="card-title">Service Details (Approval Details)</h2><br><br><br><br><br>
        <!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> -->
        <a routerLink="/teacher-layout/approvaldetails" class="btn mat-raised-button btn-warning" >Select</a>
      </div>
    </mat-card>
  </div>
  <div class="col-sm-3">
    <mat-card class="shadow p-1 mb-5 bg-body rounded">
      <div class="card-body">
        <h2 style="margin-bottom: -2rem;"  class="card-title">Service Details (Transfer Details)</h2><br><br><br><br><br>
        <!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> -->
        <a routerLink="/teacher-layout/transferdetails" class="btn mat-raised-button btn-warning" >Select</a>
      </div>
    </mat-card>
  </div>
  <div class="col-sm-3">
    <mat-card class="shadow p-1 mb-5 bg-body rounded">
      <div class="card-body">
        <h2 class="card-title">Teaching Details</h2><br><br>
        <!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> -->
        <a routerLink="/teacher-layout/teachingdetails" class="btn mat-raised-button btn-warning">Select</a>
      </div>
    </mat-card>
  </div>
  <!-- <div class="col-sm-3">
    <mat-card class="shadow p-3 mb-5 bg-body rounded">
      <div class="card-body">
        <h2 class="card-title">Other Courses</h2><br><br><br>

        <a routerLink="/teacher-layout/othercourses"class="btn mat-raised-button btn-warning">Select</a>
      </div>
    </mat-card>
  </div> -->
  <div class="col-sm-3">
    <mat-card class="shadow p-1 mb-5 bg-body rounded" >
      <div class="card-body">
        <h2 class="card-title">Refresher/Orientation Courses/Faculty Development Programmes </h2>
        <!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> -->
        <a routerLink="/teacher-layout/faculty"class="btn mat-raised-button btn-warning">Select</a>
      </div>
    </mat-card>
  </div>
  <div class="col-sm-3">
    <mat-card class="shadow p-1 mb-1 bg-body rounded" style="color:red">
      <div class="card-body">
        <h2 class="card-title">Conferences/Workshops/Seminars attended
        </h2><br>
        <!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> -->
        <a routerLink="/teacher-layout/seminar"class="btn mat-raised-button btn-warning">Select</a>
      </div>
    </mat-card>
  </div>
  <div class="col-sm-3">
    <mat-card class="shadow p-1 mb-1 bg-body rounded">
      <div class="card-body">
        <h2 class="card-title">Papers presented in Conferences</h2><br><br><br>
        <!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> -->
        <a routerLink="/teacher-layout/paperspresented"class="btn mat-raised-button btn-warning">Select</a>
        <br>
      </div>
    </mat-card>
  </div>
  <div class="col-sm-3" style="margin-top: 1%">
    <mat-card class="shadow p-1 mb-5 bg-body rounded">
      <div class="card-body">
        <h2 class="card-title">Research Paper Publication</h2><br><br>
        <!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> -->
        <a routerLink="/teacher-layout/researchpaper"class="btn mat-raised-button btn-warning">Select</a>
      </div>
    </mat-card>
  </div>
  <div class="col-sm-3" style="margin-top: 1%">
    <mat-card class="shadow p-1 mb-5 bg-body rounded">
      <div class="card-body">
        <h2 class="card-title">Books Publication</h2><br><br>
        <!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> -->
        <a routerLink="/teacher-layout/bookspublished"class="btn mat-raised-button btn-warning">Select</a>
      </div>
    </mat-card>
  </div>

  <div class="col-sm-3" style="margin-top: 1%">
    <mat-card class="shadow p-1 mb-5 bg-body rounded">
      <div class="card-body">
        <h2 class="card-title">Research Project Details</h2><br><br>
        <!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> -->
        <a routerLink="/teacher-layout/research-project"class="btn mat-raised-button btn-warning">Select</a>
      </div>
    </mat-card>
  </div>
  <div class="col-sm-3" style="margin-top: 1%">
    <mat-card class="shadow p-1 mb-5 bg-body rounded">
      <div class="card-body">
        <h2 class="card-title">Academic bodies and Evaluation participation</h2><br>
        <!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> -->
        <a routerLink="/teacher-layout/academic-participation"class="btn mat-raised-button btn-warning">Select</a>
      </div>
    </mat-card>
  </div>


</div>
