<div class="wrapper" style="width: 100%;height: 100%;">
  <mat-drawer-container class="example-container" autosize>
    <mat-card style="display: flex; flex-direction: row; align-items: center;background-color:hsla(184, 91%, 78%, 0.959)">
      <div style="width: 10%">
        <button mat-mini-fab (click)="drawer.toggle()" style="margin-left: 2rem">
          <mat-icon>menu</mat-icon>
        </button>
      </div>
      <div class="Nav" style="color: rgb(12, 12, 12);">
        <h1 style="font-family:Poppins;font-weight: bolder; font-size:16px">{{this.association}} </h1>
        <h1 style="font-family:Poppins;font-weight: bolder; font-size=20px"><strong>{{this.college}}</strong> </h1>
        <h2 style="font-family:Garamond;font-weight: 700; color:red" >Welcome to Office</h2></div>
      <button   (click)="logout()" mat-mini-fab color="grey" aria-label="cart" >
        <mat-icon>logout</mat-icon>
      </button>
    </mat-card>

    <mat-drawer #drawer class="example-sidenav" opened mode="side" style="width: 19rem;background-color:hsla(0, 5%, 85%, 0.705);" >
      <mat-card class="shadow p-3 mb-5 bg-body rounded" style=" margin-bottom: 10%;">
        <h4 style="
          font-family: Josefin Slab;
          font-weight: bold;
          font-size: 19px;
          margin-top: 5%;
          text-align: center;

        ">
          MODULES
        </h4>
      </mat-card>

      <ul class="nav" style="margin-left: 0.8rem">

        <li routerLinkActive="active" *ngFor="let menuItem of menuItems" class="{{menuItem.class}} nav-item">


            <ul class="nav flex-column card  text-dark border-light mb-3 shadow-sm  mb-2  bg-body rounded">
              <!-- <mat-card style="width: 100%;margin-bottom: 2rem;"> -->
                 <li routerLinkActive="active"  class="{{menuItem.class}} nav-item">
                    <a class="nav-link" [routerLink]="menuItem.path">
                        <i style="margin-left: -5px;color: rgb(43, 10, 190);" class="material-icons" >{{menuItem.icon}}</i>
                           &nbsp;
                        <p class="title">{{menuItem.title}}</p>
            <ng-container  *ngIf="menuItem.children && menuItem.children.length > 0" > </ng-container>

        </a>
             </li>

            <!-- </mat-card> -->

          </ul>


    </li>
</ul>
    </mat-drawer>
    <div>
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-container>
</div>
