.nav{
    //text-align: center;
    font-family:'Poppins';
    font-size: 24px;
    font-weight: bold;
    font-style:italic;
    //width: 90%;
    margin-top: 2%;
    margin-left: 1.5rem;
    display: block;
  
  }
  table {
    width: 96%;
    margin-top: 1%;
    margin-left: 1.5rem;
    // margin-right: 1.5rem;
  }
  .mat-cell {
    padding: 6px 6px 6px 0;
  }
  
  .mat-header-cell{
    font-family:'Poppins';
    font-size: 17px;
    font-weight: bolder;
    color: white;
  
    //width: 90%;
    // margin-top: 2%;
    // margin-left: 1.5rem;
    // display: block;
  
  }
  th, td {
    overflow: hidden;
    width: 200px;
    text-overflow: ellipsis;
    white-space: wrap;
  }

  