

<section class="container border mb-4 p-3 mt-4">
  <div [formGroup]="Form">
    <!-- <div formArrayName="pg"> -->
      <h4 class="head_u" style="margin-bottom:4rem;">Add Higher Education </h4>
      <!-- <h4 class="head">Name</h4> -->

      <div>
        <mat-form-field appearance="outline" style="margin-top: 1.5rem; margin-left: 1rem">
          <mat-label>Academic Year</mat-label>
          <mat-select required matNativeControl formControlName="year">
            <mat-option>--</mat-option>
            <mat-option *ngFor="let year of service.getAcademicYear()" [value]="year">
              {{ year }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <br>
      </div>
      <div>

        <mat-form-field appearance="outline" style="width: 15rem; margin-left: 1rem">
          <mat-label>Program graduated from</mat-label>
          <input matInput type="text" formControlName="programme" name="programme" id="programme" #input
            placeholder="eg - 1,2,3.." [readonly] = true/>
        </mat-form-field>
        <button mat-raised-button color="accent" class="saveBtn" (click)="getProgram()">Programs</button>

        <mat-form-field appearance="outline" style="width: 15rem; margin-left: 1rem">
          <mat-label>Class</mat-label>
          <mat-select required matNativeControl formControlName="class" (selectionChange)="classChanges($event)" [disabled]="!this.Form.get('programme').valid">
            <mat-option>--</mat-option>
            <mat-option *ngFor="let item of programDetails" [value]="item">
              {{ item.streamClass }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline" style="width: 15rem; margin-left: 1rem">
          <mat-label>Division</mat-label>
          <mat-select required matNativeControl formControlName="div" [disabled]="!this.Form.get('class').valid">
            <mat-option>--</mat-option>
            <mat-option *ngFor="let division of divisions" [value]="division">
              {{ division.divisionName }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        
        <mat-form-field appearance="outline" style="width: 15rem; margin-left: 1rem">
          <mat-label>Student Name</mat-label>
          <input matInput type="text" formControlName="student_name" name="student_name" id="student_name" #input
            placeholder="eg - 1,2,3.." [readonly] = true  [disabled]="!this.Form.get('programme').valid"/>
        </mat-form-field>
        <button mat-raised-button color="accent" class="saveBtn" (click)="getStudent()" [disabled]="!this.Form.get('programme').valid">Students</button>

        <mat-form-field appearance="outline" style="width: 15rem; margin-left: 1rem">
          <mat-label>Admission to Programme</mat-label>
          <input matInput type="text" formControlName="admission_to_program" name="admission_to_program" id="admission_to_program" #input
            placeholder="eg - 1,2,3.." />
        </mat-form-field>


        <mat-form-field appearance="outline" style="width: 15rem; margin-left: 1rem">
          <mat-label>Name of Institution joined</mat-label>
          <input matInput type="text" formControlName="name_of_institute" name="name_of_institute" id="name_of_institute" #input
            placeholder="eg - 1,2,3.." />
        </mat-form-field>

        <!-- <mat-form-field appearance="outline" style="width: 15rem; margin-left: 1rem">
          <mat-label>No of Students Appeared</mat-label>
          <input matInput type="text" formControlName="no_of_student_appeared" name="no_of_student_appeared" id="no_of_student_appeared" #input placeholder="eg - 1,2,3.." />
        </mat-form-field>

        <mat-form-field appearance="outline" style="width: 15rem; margin-left: 1rem">
          <mat-label>No of Students Passed</mat-label>
          <input matInput type="text" formControlName="no_of_student_passed" name="no_of_student_passed" id="no_of_student_passed" #input placeholder="eg - 1,2,3.." />
        </mat-form-field> -->

        <div class="col" (click)="uploadFile.click()" style="margin-left: 1rem;">
          <button mat-raised-button color="primary" [ngClass]="{'green' : toggle, 'red': !toggle}">Upload Admission proof</button>  {{"     "}}{{fileName||'Not selected'}}
          <input #uploadFile (change)="upload($event)" type="file" style="display: none" />
        </div>


      </div>
    </div>
    </section>
  <!-- </div> -->
  <button mat-raised-button  color="accent"  [disabled]="!Form.valid"  (click)="submitForm()"> Submit Form</button>




