
<div [formGroup]="Form">

  <h4 class="head_u">Teaching Plan</h4>

  <section class="container border mb-4 p-3 mt-4">

    <div class="row">
      <mat-form-field appearance="outline" style="width: 15rem; margin-left: 1rem">
        <mat-label>Academic Year</mat-label>
        <mat-select required matNativeControl formControlName="academic_year">
            <mat-option>--</mat-option>
            <mat-option *ngFor="let year of service.getAcademicYear()" [value]="year">
              {{ year }}
          </mat-option>
        </mat-select>
        </mat-form-field>
    </div>

    <mat-form-field appearance="outline" style="width: 15rem; margin-left: 1rem">
      <mat-label>Programme</mat-label>
      <input matInput type="text" formControlName="program" name="program" id="program" #input placeholder="eg - 2020.." [readonly]=true/>
    </mat-form-field>
    <button mat-raised-button color="accent" class="saveBtn" (click)="getProgram()">Programs</button>

    <mat-form-field appearance="outline" style="width: 15rem; margin-left: 1rem">
      <mat-label>Course Code</mat-label>
      <input matInput type="text" formControlName="c_code" name="c_code" id="c_code" #input placeholder="eg - 2020.." [readonly]=true/>
    </mat-form-field>
    <button mat-raised-button color="accent" class="saveBtn" (click)="getCourses()" [disabled]="!this.Form.get('program').valid">Courses</button>

    <mat-form-field appearance="outline" style="width: 15rem; margin-left: 1rem">
      <mat-label>Course Name</mat-label>
      <input matInput type="text" formControlName="c_name" name="c_name" id="c_name" #input placeholder="eg - 2020.." [readonly]=true/>
    </mat-form-field>

    <mat-form-field appearance="outline" style="width: 15rem; margin-left: 1rem">
      <mat-label>Year</mat-label>
      <input matInput type="text" formControlName="year" name="year" id="year" #input placeholder="eg - 2020.." [readonly]=true/>
    </mat-form-field>

  <mat-form-field appearance="outline" style="width: 15rem; margin-left: 1rem">
    <mat-label>Semester</mat-label>
    <input matInput type="text" formControlName="semester" name="semester" id="semester" #input
      placeholder="eg - 1,2,3.." [readonly]=true/>
  </mat-form-field>

  <mat-form-field appearance="outline" style="width: 15rem; margin-left: 1rem">
    <mat-label>Class</mat-label>
    <mat-select required matNativeControl formControlName="class" (selectionChange)="classChanges($event)" [disabled]="!this.Form.get('program').valid">
      <mat-option>--</mat-option>
      <mat-option *ngFor="let item of programDetails" [value]="item">
        {{ item.streamClass }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline" style="width: 15rem; margin-left: 1rem">
    <mat-label>Division</mat-label>
    <mat-select required matNativeControl formControlName="div" [disabled]="!this.Form.get('class').valid">
      <mat-option>--</mat-option>
      <mat-option *ngFor="let division of divisions" [value]="division">
        {{ division.divisionName }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline" style="width: 15rem; margin-left: 1rem">
    <mat-label>Months</mat-label>
    <input matInput type="text" formControlName="month" name="month" id="month" #input placeholder="eg -June, July, August " />
  </mat-form-field>


    <div *ngFor="let other1 of otherControl;let i = index">
      <div formArrayName="other">
      <div [formGroupName]="i">
        <div style="margin-top: 2rem;">
          <button mat-raised-button class="btn btn-danger btn-sm" (click)="removeother(i)">
            Remove
          </button>
        </div>

        <h4 class="head" style="margin-top: 1.5rem;">Week {{i+1}}</h4>

        <mat-form-field appearance="outline" style="width: 15rem; margin-left: 1rem">
          <mat-label>Dates</mat-label>
          <input matInput type="text" formControlName="lec_dates" name="lec_dates" id="lec_dates"
            #input placeholder="eg - 1,2,3.." />
        </mat-form-field>
        
        <mat-form-field appearance="outline" style="width: 15rem; margin-left: 1rem">
          <mat-label>Number of Lectures</mat-label>
          <input matInput type="text" formControlName="no_of_lectures" name="no_of_lectures" id="no_of_lectures"
            #input placeholder="eg - 1,2,3.." />
        </mat-form-field>


        <mat-form-field appearance="outline" style="width: 15rem; margin-left: 1rem">
          <mat-label>Numbers Of Tutorials</mat-label>
          <input matInput type="text" formControlName="no_of_tutorials" name="no_of_tutorials" id="no_of_tutorials"
            #input placeholder="eg - 1,2,3.." />
        </mat-form-field>



        <mat-form-field appearance="outline" style="width: 15rem; margin-left: 1rem">
          <mat-label>Topic</mat-label>
          <input matInput type="text" formControlName="topics" name="topics" id="topics" #input
            placeholder="eg - 1,2,3.." />
        </mat-form-field>


        <mat-form-field appearance="outline" style="width: 15rem; margin-left: 1rem">
          <mat-label>Assignment</mat-label>
          <input matInput type="text" formControlName="assignments" name="assignments" id="assignments" #input
            placeholder="eg - 1,2,3.." />
        </mat-form-field>

        <mat-form-field appearance="outline" style="width: 15rem; margin-left: 1rem">
          <mat-label>Mode of teaching</mat-label>
          <input matInput type="text" formControlName="mode_of_teaching" name="mode_of_teaching" id="mode_of_teaching" #input
            placeholder="eg - 1,2,3.." />
        </mat-form-field>


      </div>
      <div>
        <button mat-raised-button class="btn btn-primary" (click)="addother()">
          Add Details
        </button>
      </div>
    </div>
  </div>
  </section>
</div>

<button mat-raised-button color="accent" [disabled]="!Form.valid" (click)="submitForm()">Submit Form</button>
