<h1 class="head">Committee Composition</h1>
<div class="row" style="margin-left: 5rem;margin-top: 5rem;">
    <mat-form-field class="col-md-6" style="margin-left: 8rem;">
      <input matInput (keyup)="applyFilter($event)" placeholder="Search...">
    </mat-form-field>
  
    <div class="col-md-1"></div>
  
    <div class="col-md-3">
      <div class="card-body table-responsive" >
        <button mat-raised-button color="accent" class="saveBtn" (click)="createteachers()">Add New Details</button>
      </div>
    </div>
  </div>
  
  
  <div class="table-responsive">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8"  style="background-color:hsla(126, 34%, 88%, 0.705)">
  
  
      <!-- Position Column -->
      <ng-container matColumnDef="teachers_name">
        <th mat-header-cell *matHeaderCellDef> Teachers Name </th>
        <td mat-cell *matCellDef="let element"> {{element?.firstName}} {{element?.middleName}} {{element?.lastName}}</td>
      </ng-container>
  
  
      <!-- <ng-container matColumnDef="specialization">
        <th mat-header-cell *matHeaderCellDef> Specialization </th>
        <td mat-cell *matCellDef="let element"> {{element?.hod?.department?.specialization}} </td>
      </ng-container> -->
  
     <ng-container matColumnDef="teachers_email" >
        <th mat-header-cell *matHeaderCellDef> Teachers Email-id </th>
        <td mat-cell *matCellDef="let element"> {{element?.email}} </td>
      </ng-container>
  
      <ng-container matColumnDef="teachers_paswd">
        <th mat-header-cell *matHeaderCellDef> Teachers Password </th>
        <td mat-cell *matCellDef="let element"> {{element?.password}} </td>
      </ng-container>
  <!--
      <ng-container matColumnDef="establish_year">
        <th mat-header-cell *matHeaderCellDef> Establishment year </th>
        <td mat-cell *matCellDef="let element"> {{element?.hod?.department?.establishmentYear}} </td>
      </ng-container> -->
  
      <ng-container matColumnDef="edit">
        <td mat-cell
          *matCellDef="let row"
          [style.color]="row.color"
          data-label="Edit :">
          <button mat-button color="primary" (click)="edit(row)">
            <mat-icon style="color: black">edit</mat-icon>
          </button>
        </td>
        <th mat-header-cell *matHeaderCellDef>Edit</th>
      </ng-container>
  
      <ng-container matColumnDef="delete">
        <td mat-cell
          *matCellDef="let row"
          [style.color]="row.color"
          data-label="Delete :">
          <button mat-button color="primary" (click)="delete(row)">
            <mat-icon style="color: black; cursor: pointer"
            >delete_forever</mat-icon>
          </button>
        </td>
        <th mat-header-cell *matHeaderCellDef>Delete</th>
      </ng-container>
  
  
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns" style="background-color:rgb(105, 109, 108);"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" style="background-color:white;"></tr>
  
    </table>
    <br><br>
  
  
  
  
  </div>
  
  