.nav{
  //text-align: center;
  font-family:'Josefin Slab';
  font-size: 24px;
  font-weight: bold;
  //width: 90%;
  margin-top: 2%;
  margin-left: 1.5rem;
  display: block;

}
table {
  width: 96%;
  margin-top: 4%;
  margin-left: 1.5rem;
 // margin-right: 1.5rem;
}
.mat-cell {
  padding: 6px 6px 6px 0;
}

.mat-header-cell{
  font-family:'Josefin Slab';
  font-size: 19px;
  font-weight: bolder;
  color: black;

  //width: 90%;
  // margin-top: 2%;
  // margin-left: 1.5rem;
  // display: block;

}


.Nav{
  text-align: center;
  font-family:'Josefin Slab',
  serif;font-size: 24px;
  font-weight: bold;width: 90%;
  margin-left: 1rem;
}

.head{
  //text-align: center;
  font-family:'Josefin Slab',
  serif;
  font-size: 20px;
  font-weight: bold;
  width: 30%;
  //margin-left: 1rem;
}


.head_u{
  //text-align: center;
  font-family:'Josefin Slab',
  serif;
  font-size: 20px;
  font-weight: bold;
 // width: 5%;
  //margin-left: 1rem;
}

.mat-raised-button{
  margin-left: 3rem;
}
