<div class="nav">
  Service Details (Transfer Details)
</div>

<div class="col-md-6">

  <button style="margin-top: 5%;margin-left: 1.5rem;" mat-raised-button color="primary" (click)="addtransferdetails()">
    Add your details
  </button>
</div>

<div class="table-responsive">
<table mat-table [dataSource]="dataSource"  class="mat-elevation-z8">
  <ng-container matColumnDef="teacher">
    <th mat-header-cell *matHeaderCellDef> Teacher Name </th>
       <td  mat-cell *matCellDef="let element">
        {{element.user.firstName + " " + element.user.middleName +" "+element.user.lastName}}
      </td>
  </ng-container>
  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef>  Transfer Date </th>
       <td  mat-cell *matCellDef="let element">
         {{element.transferDate | date: 'dd-MM-yyyy'}}
      </td>
  </ng-container>
  <ng-container matColumnDef="transfer_order_no">
    <th mat-header-cell *matHeaderCellDef> Transfer Order Number </th>
       <td  mat-cell *matCellDef="let element">
         {{element.orderNumber}}
      </td>
  </ng-container>
  <ng-container matColumnDef="transfer_form">
    <th mat-header-cell *matHeaderCellDef> Transfer Form </th>
       <td  mat-cell *matCellDef="let element">
         {{element.transferFrom}}
      </td>
  </ng-container>

  <ng-container matColumnDef="transfer_to">
    <th mat-header-cell *matHeaderCellDef> Transfer To </th>
       <td  mat-cell *matCellDef="let element">
         {{element.transferTo}}
      </td>
  </ng-container>

  <ng-container matColumnDef="document">
    <th mat-header-cell *matHeaderCellDef> Document </th>
    <td  mat-cell *matCellDef="let element">
      <a mat-raised-button color="primary" [disabled]="!element.document" href="{{this.service.BASE_URL}}/resources/uploads/{{element.document}}" target="_blank">View</a>
    </td>
  </ng-container>

  <ng-container matColumnDef="edit">
    <td mat-cell
      *matCellDef="let row"
      [style.color]="row.color"
      data-label="Edit :">
      <button mat-button color="primary" (click)="edit(row)">
        <mat-icon style="color: black">edit</mat-icon>
      </button>
    </td>
    <th mat-header-cell *matHeaderCellDef>Edit</th>
  </ng-container>

  <ng-container matColumnDef="delete">
    <td mat-cell
      *matCellDef="let row"
      [style.color]="row.color"
      data-label="Delete :">
      <button mat-button color="primary" (click)="delete(row)">
        <mat-icon style="color: black; cursor: pointer"
        >delete_forever</mat-icon>
      </button>
    </td>
    <th mat-header-cell *matHeaderCellDef>Delete</th>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns" style="background-color:rgb(105, 109, 108);"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;" style="background-color:white"></tr>

 </table>
<br><br>

</div>


