.head{
  //text-align: center;
  font-family:'Josefin Slab',
  serif;font-size: 20px;
  font-weight: bold;
  margin-left: 2rem;
  margin-top: 2rem;
  color: black;
}
table {
  width: 96%;
  margin-top: 0%;
  margin-left: 1.5rem;
  // table-layout: fixed;
 // margin-right: 1.5rem;
}
.mat-header-cell{
  font-family:'Josefin Slab';
  font-size: 19px;
  font-weight: bolder;
  color: black;

  //width: 90%;
  // margin-top: 2%;
  // margin-left: 1.5rem;
  // display: block;

}

.mat-cell {
  padding: 8px 8px 8px 0;
}
th, td {
  overflow: hidden;
  width: 200px;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.Nav{
  text-align: center;
  font-family:'Josefin Slab',
  serif;font-size: 24px;
  font-weight: bold;width: 90%;
  margin-left: 1rem;
}

.img{
  // width: 29vh;
  height: 25vh;
  margin: 0 auto;
  display: block;
  margin-top:5%;
  // justify-content: center;
  // margin-left: 30%;
  // margin-top: -14vh;
}