.Nav{
    text-align: center;
    font-family:'Josefin Slab',
    serif;font-size: 24px;
    font-weight: bold;width: 90%;
    margin-left: 1rem;
  }
  
  .head{
    //text-align: center;
    font-family:'Josefin Slab',
    serif;
    font-size: 20px;
    font-weight: bold;
    width: 30%;
    //margin-left: 1rem;
  }
  
  
  .head_u{
    //text-align: center;
    font-family:'Josefin Slab',
    serif;
    font-size: 20px;
    font-weight: bold;
  //  width: 5%;
    //margin-left: 1rem;
  }
  
  
  .note{
    //text-align: center;
    font-family:'Josefin Slab',
    serif;
    font-weight: bold;
    margin-left: 2rem;
    margin-top: 2rem;
  }
  