<mat-card style="display: flex; flex-direction: row; align-items: center">
    <div class="Nav" style="color: black">Update Best Practice</div>
  </mat-card>
  
  <!-- <section style="text-align: center; background-color:rgb(247, 209, 152);" class="container border mb-4 p-3 mt-4">
    <strong style="font-size:20px"> {{this.department.college.name}}</strong>
    <br>
   </section> -->
  <div style="margin-left: 3rem" [formGroup]="Form">
    
    <section class="container border mb-4 p-3 mt-4">
      <h3 class="head">Best Practice Of Department</h3>
      <mat-form-field appearance="outline" style="margin-top: 1.5rem">
        <mat-label>Academic Year</mat-label>
        <mat-select required matNativeControl formControlName="academicYear">
          <mat-option>--</mat-option>
          <mat-option *ngFor="let year of service.getAcademicYear()" [value]="year">
            {{ year }}
        </mat-option>
        </mat-select>
        <mat-error *ngIf="yearControl.hasError('required')">Level</mat-error>
          <mat-hint>{{ yearControl.value?.sound }}</mat-hint>
      </mat-form-field>
      <br>
      <mat-form-field appearance="outline" style="width: 16rem;margin-top:2rem;">
        <mat-label>Title Of Activity</mat-label>
        <input formControlName="title" matInput type="text" name="title" id="title" #input
          placeholder="eg - Title..." />
      </mat-form-field>
      <div class="row">
        <h3 class="head" style="margin-top: 2rem">Context :-</h3>
        <textarea formControlName="context_name" style="margin-left: 10rem; width: 70%; margin-top: -3rem" cols="100"
        rows="3"></textarea>
      </div>
      <br>
      <h3 class="head">Best Practice in brief :-:-</h3>
      <!-- <textarea   formControlName="breif_report" style="margin-left: 8rem; margin-top: 1rem" cols="100"
        rows="15"></textarea> -->
        <angular-editor formControlName="best_report"  id="editor1" [(ngModel)]="this.data.reportBest" [config]="config"></angular-editor>
        <div class="row">
          <h3 class="head" style="margin-top: 2rem">Outcome :-</h3>
          <textarea formControlName="outcome_best" style="margin-left: 10rem; width: 70%; margin-top: -3rem" cols="100"
          rows="3"></textarea>
        </div>
        <div class="row" style="margin-top: 3rem">
        <div class="col-sm-2">
          <h5 class="head_u">Photographs</h5>
          <h5>(maximum: 4 photos)</h5>
        </div>
  
        <div class="col-sm-2" (click)="uploadFile.click()">
          {{fileName || "No file uploaded yet."}}
          <button mat-raised-button color="primary">Upload</button>
          <input #uploadFile multiple (change)="photographUpload($event)" onchange="console.log(event.target.files)" type="file" style="display: none" />
         </div>
      </div>
    </section>
    <button mat-raised-button color="accent"  [disabled]="!Form.valid" style="display:flex;justify-content: center;" (click)="submitForm()" >Submit Form</button>
  
  

