<p>edit-transfer-detail works!</p>
<mat-card style="display: flex; flex-direction: row; align-items: center">
    <div class="Nav" style="color: black">Update Transfer-details</div>
  </mat-card>
  
  
  
  <section class="container border mb-4 p-3 mt-4">
  
  
    <h3 class="head" style="margin-bottom: 2rem;"> Update Transfer-details </h3>
  
  
  
    <div  [formGroup]="Form"  class="row" style="display: block">
  
      <mat-form-field style="width: 21%;" color="accent" appearance="outline">
        <mat-label>Date</mat-label>
        <input matInput formControlName="transfer_date" [matDatepicker]="picker1" />
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
      </mat-form-field>
  
        <!-- <div class="row">
  
            <div class="col-md-3"  >
            <mat-form-field appearance="outline" style="margin-top: 1rem">
            <mat-label>Academic Year</mat-label>
            <mat-select required matNativeControl formControlName="academicYear">
                <mat-option>--</mat-option>
                <mat-option *ngFor="let year of year" [value]="year.year">
                {{ year.year }}
                </mat-option>
            </mat-select>
            </mat-form-field>
            </div>
        </div> -->
  
        <!-- <div class="row">
  
  
            <div class="col-md-3"  >
            <mat-form-field appearance="outline" style="margin-top: 1rem">
            <mat-label>Type</mat-label>
            <mat-select required matNativeControl formControlName="type">
                <mat-option>--</mat-option>
                <mat-option *ngFor="let type of types" [value]="type.value">
                {{ type.title }}
                </mat-option>
            </mat-select>
            </mat-form-field>
            </div>
  
            <div class="col-md-3"  >
              <mat-form-field appearance="outline" style="margin-top: 1rem">
              <mat-label>Level</mat-label>
              <mat-select required matNativeControl formControlName="level">
                  <mat-option>--</mat-option>
                  <mat-option *ngFor="let type of level" [value]="type.level">
                  {{ type.level }}
                  </mat-option>
              </mat-select>
              </mat-form-field>
              </div>
        </div> -->
  
      <div class="row" >
  
  
      <div class="col-md-3" >
        <mat-form-field appearance="outline" >
          <mat-label>Transfer Order No</mat-label>
          <input formControlName="transfer_order_no" matInput type="text" name="transfer_order_no" id="transfer_order_no" #input
            placeholder="eg - Title..." />
        </mat-form-field>
        </div>
        <div class="col-md-3" >
        <mat-form-field appearance="outline" style="width: 16rem;">
          <mat-label>Transfer from</mat-label>
          <input formControlName="transfer_form" matInput type="text" name="transfer_form" id="transfer_form" #input
            placeholder="eg - Title..." />
  
        </mat-form-field>
      </div>
      <div class="col-md-3" >
        <mat-form-field appearance="outline" style="width: 16rem;">
          <mat-label>Transfer to</mat-label>
          <input formControlName="transfer_to" matInput type="text" name="transfer_to" id="transfer_to" #input
            placeholder="eg - Title..." />
  
        </mat-form-field>
      </div>
    </div>
  
  
    <div class="row">
      <div>
  
  
  
  
          <!-- <mat-form-field color="accent" appearance="outline" style="margin-left: 1.6rem">
            <mat-label>End Date</mat-label>
            <input matInput formControlName="e_date" [matDatepicker]="picker2" />
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
          </mat-form-field> -->
  
  
      </div>
  
    </div>
  
    <!-- <mat-form-field appearance="outline" style="margin-top: 1rem">
      <mat-label>Role</mat-label>
      <mat-select required matNativeControl formControlName="role">
          <mat-option>--</mat-option>
          <mat-option *ngFor="let role of roles" [value]="role.value">
          {{ role.value }}
          </mat-option>
      </mat-select>
      </mat-form-field> -->
  
  
      <div class="col-sm-2" (click)="uploadFile.click()" style="margin-top: 2rem;">
        <button mat-raised-button color="primary">Upload certificate copy</button>
        <input #uploadFile (change)="upload($event)" type="file" style="display: none" />
      </div>
  
  
  
    </div>
  </section>
  
  
  <button mat-raised-button color="accent" [disabled]="!Form.valid"
    (click)="submitForm()">
    Submit Form
  </button>
  
  