<div class="nav">
    List of Research-Projects
   </div>
   
   <!-- <div class="col-md-6">
   
    <button style="margin-top: 5%;margin-left: 1.5rem;" mat-raised-button color="primary" (click)="addprojects()">
      Add research project details
    </button>
  </div> -->
  <div class="col-md-6">
    <div class="col">
      <br>
      <br>
      <br>
      <mat-form-field class="col-md-6" style="width: 75%;margin-left: 5rem;">
        <input matInput style="width: 75%;" (keyup)="applyFilter($event)" placeholder="Search...">
      </mat-form-field>
      </div>
  </div>
  <div class="table-responsive">
    <h3 style="text-align: right; color:rgb(201, 49, 11);margin-right:10rem; font-family: Arial, Helvetica, sans-serif;font-size:15px">Total: {{this.dataSource.data.length}}     Selected: {{this.dataSource.filteredData.length}} </h3>
    <table mat-table [dataSource]="dataSource"  class="mat-elevation-z8">
       
      <ng-container matColumnDef="academic_year">
        <th mat-header-cell *matHeaderCellDef> Academic Year </th>
           <td  mat-cell *matCellDef="let element">
             {{element.academicYear}}
        </td>
      </ng-container>
      <ng-container matColumnDef="award_year">
        <th mat-header-cell *matHeaderCellDef>  Year </th>
           <td  mat-cell *matCellDef="let element">
             {{element. yearOfPublication}}
        </td>
      </ng-container>
  
      <ng-container matColumnDef="level">
        <th mat-header-cell *matHeaderCellDef> Type </th>
           <td  mat-cell *matCellDef="let element">
             {{element.projectType}}
          </td>
      </ng-container>
      <ng-container matColumnDef="dept">
        <th mat-header-cell *matHeaderCellDef> Department </th>
           <td  mat-cell *matCellDef="let element">
             {{element.departments.departmentName}}
          </td>
      </ng-container>
  
      <ng-container matColumnDef="title_of_book">
        <th mat-header-cell *matHeaderCellDef> Title of Project </th>
           <td  mat-cell *matCellDef="let element">
             {{element.titleOfBook}}
          </td>
      </ng-container>
  
      <ng-container matColumnDef="authors">
        <th mat-header-cell *matHeaderCellDef> Name of Investigator </th>
           <td  mat-cell *matCellDef="let element">
             {{element.author}}
          </td>
      </ng-container>
  
      <ng-container matColumnDef="publisher">
        <th mat-header-cell *matHeaderCellDef> Awarding Agency </th>
           <td  mat-cell *matCellDef="let element">
             {{element.publishers}}
          </td>
      </ng-container>
  
      <ng-container matColumnDef="edition">
        <th mat-header-cell *matHeaderCellDef> Amount Rs </th>
           <td  mat-cell *matCellDef="let element">
             {{element.edition}}
          </td>
      </ng-container>

      <ng-container matColumnDef="agency">
        <th mat-header-cell *matHeaderCellDef> Agency </th>
           <td  mat-cell *matCellDef="let element">
             {{element.agencyType}}
          </td>
      </ng-container>
  
  
      <ng-container matColumnDef="upload_cert">
        <th mat-header-cell *matHeaderCellDef> Upload certificate
        <td  mat-cell *matCellDef="let element">
          <a mat-raised-button color="primary" [disabled]="!element.document" href="{{this.service.BASE_URL}}/resources/uploads/{{element.document}}" target="_blank">View</a>
        </td>
  
      </ng-container>
      <!-- <ng-container matColumnDef="delete">
       <td mat-cell
         *matCellDef="let row"
         [style.color]="row.color"
         data-label="Delete :">
         <button mat-button color="primary" (click)="delete(row)">
           <mat-icon style="color:black; cursor: pointer"
           >delete_forever</mat-icon>
         </button>
       </td>
       <th mat-header-cell *matHeaderCellDef>Delete</th>
     </ng-container> -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns" style="background-color:rgb(105, 109, 108);"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" style="background-color:white"></tr>
  
    </table>
    <mat-paginator style="font-weight:bold;margin-right: 5rem;margin-left: 5rem; background-color: rgb(178, 247, 229);" #paginator [pageSize]="10" [pageSizeOptions]="[10, 25, 50, 100]"></mat-paginator>
    <br><br>
  </div>