<!-- <mat-card style="background-color: #673ab7;">
 <p style="color: azure;">Hello this is Naac</p>
</mat-card> -->
<div style="height: 100%;">
<router-outlet></router-outlet>
<footer  id="footer" class="page-footer font-small blue" style="background-color:hsla(150, 49%, 66%, 0.541);  border-top-style: solid;
border-color: rgb(116, 8, 8);border-width: 2px;">
  <img src="assets/logo_transfinite.png" style="margin-left:0%;width:5%;height: 8%; margin-left:3%;display:flex; position: absolute;" alt="">
  
    <div class="footer-copyright text-center py-3"><strong style="color:red;margin-left: 2rem;font-size: 20px;">iAAS</strong> <strong>  © Powered by : </strong>
      <a href="http://transfinite.one"> Transfinite innovative solutions pvt ltd.</a>
      <pre style="font-family: 'Times New Roman', Times, serif; font-size: small;">   302, India Printing House, Wadala West, Mumbai, Maharashtra- 400031</pre>
    </div>

  </footer>
</div>