.header {
    //padding: 10px;
    text-align: center;
   background: rgb(116, 63, 19);
    // box-shadow: inset 0px 500px 500px rgba(92, 50, 2, 2);
    color: rgb(12, 11, 11);
    box-shadow: #7875B5;
    }

    .img1{
        width: 15vh;
        height: auto;
        //margin: 0 auto;
        display: block;
        object-fit: cover;
        margin-top:1%;
        margin-left:5vh;
       justify-content: left;
      //margin-left: 10%;
        // margin-top: -14vh;
      }