<div class="nav">
    List of Inovative Teaching Methods used by teacher
   </div>
   <div class="col-md-6">
    <div class="col">
      <br>
      <br>
      <br>
      <mat-form-field class="col-md-6" style="width: 75%;margin-left: 5rem;">
        <input matInput style="width: 75%;" (keyup)="applyFilter($event)" placeholder="Search...">
      </mat-form-field>
      </div>
  </div>
   <div class="table-responsive">
    <h3 style="text-align: right; color:rgb(201, 49, 11);margin-right:10rem; font-family: Arial, Helvetica, sans-serif;font-size:15px">Total: {{this.dataSource.data.length}}     Selected: {{this.dataSource.filteredData.length}} </h3>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8  " >
        <ng-container matColumnDef="a_year">
            <th mat-header-cell *matHeaderCellDef>Academic Year</th>
            <td mat-cell *matCellDef="let element"> {{element.academicYear}} </td>
          </ng-container>
          <ng-container matColumnDef="dept">
          <th mat-header-cell *matHeaderCellDef>Department</th>
          <td mat-cell *matCellDef="let element"> {{element.teacher?.department?.departmentName}} </td>
        </ng-container>
        <ng-container matColumnDef="teacher">
            <th mat-header-cell *matHeaderCellDef> Teacher Name </th>
               <td  mat-cell *matCellDef="let element">
                {{element.user?.firstName + " " + element.user?.middleName +" "+element.user?.lastName}}
              </td>
          </ng-container>
          <ng-container matColumnDef="resource">
            <th mat-header-cell *matHeaderCellDef>ICT resources</th>
            <td mat-cell *matCellDef="let element"> {{element.ictResources}} </td>
          </ng-container>

          <ng-container matColumnDef="link_one">
            <th mat-header-cell *matHeaderCellDef>ICT resources Link</th>
            <td mat-cell *matCellDef="let element"> {{element.ictLinkone}} </td>
          </ng-container>
          
          <ng-container matColumnDef="link_two">
            <th mat-header-cell *matHeaderCellDef>ICT resources Link</th>
            <td mat-cell *matCellDef="let element"> {{element.ictLinktwo}} </td>
          </ng-container>

          <ng-container matColumnDef="method">
            <th mat-header-cell *matHeaderCellDef>Method Type</th>
            <td mat-cell *matCellDef="let element"> {{element.type}} </td>
          </ng-container>
          <ng-container matColumnDef="title">
            <th mat-header-cell *matHeaderCellDef>Title</th>
            <td mat-cell *matCellDef="let element"> {{element.titleOfMethod}} </td>
          </ng-container>
          <ng-container matColumnDef="number_of_students">
            <th mat-header-cell *matHeaderCellDef>No of Students</th>
            <td mat-cell *matCellDef="let element"> {{element.noOfStudent}} </td>
          </ng-container>
          <ng-container matColumnDef="newsReport">
            <th mat-header-cell *matHeaderCellDef>  Report </th>
            <td mat-cell *matCellDef="let element">
              <button mat-raised-button (click)="testreport(element)">Report</button>
              <!-- <a mat-raised-button color="primary" [disabled]="!element.newsReports[0].news" href="{{this.service.BASE_URL}}/resources/uploads/{{element.newsReports[0].news}}" target="_blank">View</a> -->
            </td>
          </ng-container>


          <tr mat-header-row *matHeaderRowDef="displaycolumns_methods"  style="background-color:rgb(105, 109, 108);"></tr>
        <tr mat-row *matRowDef="let row; columns: displaycolumns_methods;" style="background-color:white"></tr>
    </table>
    <mat-paginator style="font-weight:bold;margin-right: 5rem;margin-left: 5rem; background-color: rgb(178, 247, 229);" #paginator [pageSize]="10" [pageSizeOptions]="[10, 25, 50, 100]"></mat-paginator>
  </div>