<div class="nav">
    Academic Body Participation/Evaluation Work
  </div>
  
  <div class="col-md-6">

    <button style="margin-top: 5%;margin-left: 1.5rem;" mat-raised-button color="primary" (click)="addfacultyprogram()">
      Add your details
    </button>
  
  </div>
  
<div class="table-responsive">
    <table mat-table [dataSource]="dataSource"  class="mat-elevation-z8  ">
    
      <ng-container matColumnDef="academic_year">
        <th mat-header-cell *matHeaderCellDef> Academic Year </th>
           <td  mat-cell *matCellDef="let element">
             {{element.academicYear}}
          </td>
      </ng-container>
    <!-- <ng-container matColumnDef="teacher">
    <th mat-header-cell *matHeaderCellDef> Teacher Name </th>
        <td  mat-cell *matCellDef="let element">
        {{element.user.firstName + " " + element.user.middleName +" "+element.user.lastName}}
        </td>
    </ng-container> -->
    
      <ng-container matColumnDef="academic_body">
        <th mat-header-cell *matHeaderCellDef> Type </th>
           <td  mat-cell *matCellDef="let element">
             {{element.academicBody}}
          </td>
      </ng-container>

      <ng-container matColumnDef="university">
        <th mat-header-cell *matHeaderCellDef> University </th>
           <td  mat-cell *matCellDef="let element">
             {{element.university}}
          </td>
      </ng-container>
    
    
      <ng-container matColumnDef="member_type">
        <th mat-header-cell *matHeaderCellDef> Member Type  </th>
           <td  mat-cell *matCellDef="let element">
             {{element.roleMember}}
          </td>
      </ng-container>
    
      <ng-container matColumnDef="period">
        <th mat-header-cell *matHeaderCellDef> Member Type  </th>
           <td  mat-cell *matCellDef="let element">
             {{element.period}}
          </td>
      </ng-container>

      <!-- <ng-container matColumnDef="duration">
        <th mat-header-cell *matHeaderCellDef> Duration </th>
           <td  mat-cell *matCellDef="let element">
             {{element.startDate | date: 'dd-MM-yyyy'}} - {{element.endDate | date: 'dd-MM-yyyy'}}
          </td>
      </ng-container>
     -->
    
      <ng-container matColumnDef="upload_cert">
        <th mat-header-cell *matHeaderCellDef> Upload certificate
      <td mat-cell *matCellDef="let element">
        <a mat-raised-button color="primary" [disabled]="!element.documentbos" href="{{this.service.BASE_URL}}/resources/uploads/{{element.documentbos}}" target="_blank">View</a>
      </td>
    
      </ng-container>
    
      <ng-container matColumnDef="examination">
        <th mat-header-cell *matHeaderCellDef> Evaluation/ curriculum design Type </th>
           <td  mat-cell *matCellDef="let element">
             {{element.examType}}
          </td>
      </ng-container>

      <ng-container matColumnDef="univer_college">
        <th mat-header-cell *matHeaderCellDef> University/college</th>
           <td  mat-cell *matCellDef="let element">
             {{element.univerCollege}}
          </td>
      </ng-container>
    
    
      <ng-container matColumnDef="subject">
        <th mat-header-cell *matHeaderCellDef> Subject  </th>
           <td  mat-cell *matCellDef="let element">
             {{element.subjectExam}}
          </td>
      </ng-container>
    
      <!-- <ng-container matColumnDef="duration">
        <th mat-header-cell *matHeaderCellDef> Duration </th>
           <td  mat-cell *matCellDef="let element">
             {{element.startDate | date: 'dd-MM-yyyy'}} - {{element.endDate | date: 'dd-MM-yyyy'}}
          </td>
      </ng-container>
     -->
    
      <ng-container matColumnDef="upload_letter">
        <th mat-header-cell *matHeaderCellDef> Upload certificate
      <td mat-cell *matCellDef="let element">
        <a mat-raised-button color="primary" [disabled]="!element.documentexam" href="{{this.service.BASE_URL}}/resources/uploads/{{element.documentexam}}" target="_blank">View</a>
      </td>
    
      </ng-container>

      <ng-container matColumnDef="edit">
        <td mat-cell
          *matCellDef="let row"
          [style.color]="row.color"
          data-label="Edit :">
          <button mat-button color="primary" (click)="edit(row)">
            <mat-icon style="color: black">edit</mat-icon>
          </button>
        </td>
        <th mat-header-cell *matHeaderCellDef>Edit</th>
      </ng-container> 


      <!-- <ng-container matColumnDef="edit">
        <td mat-cell
          *matCellDef="let row"
          [style.color]="row.color"
          data-label="Edit :">
          <button mat-button color="primary" (click)="edit(row)">
            <mat-icon style="color: black">edit</mat-icon>
          </button>
        </td>
        <th mat-header-cell *matHeaderCellDef>Edit</th>
      </ng-container> -->
    
      <ng-container matColumnDef="delete">
        <td mat-cell
          *matCellDef="let row"
          [style.color]="row.color"
          data-label="Delete :">
          <button mat-button color="primary" (click)="delete(row)">
            <mat-icon style="color: black; cursor: pointer"
            >delete_forever</mat-icon>
          </button>
        </td>
        <th mat-header-cell *matHeaderCellDef>Delete</th>
      </ng-container>
    
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns" style="background-color:rgb(105, 109, 108);"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" style="background-color:white"></tr>
    
    </table>
    <mat-paginator style="font-weight:bold;margin-right: 5rem;margin-left: 5rem; background-color: rgb(178, 247, 229);" #paginator [pageSize]="10" [pageSizeOptions]="[10, 25, 50, 100]"></mat-paginator>
    <br><br>
</div>