<h1 class="head">Lesson Plans</h1>
  <div class="row" style="margin-left: 5rem;margin-top: 5rem;">
    <mat-form-field class="col-md-6" style="margin-left: 8rem;" >
      <input matInput (keyup)="applyFilter($event)" placeholder="Search...">
    </mat-form-field>
  
    <div class="col-md-1"></div>
  
    <div class="col-md-3">
      <div class="card-body table-responsive">
        <button mat-raised-button color="accent" class="saveBtn" (click)="addNewLessonplan()">Add New Lesson Plan</button>
      </div>
    </div>
  </div>
  <div class="table-responsive">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8  " style="background-color: rgb(170, 230, 225);">
  
      <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->
  
      <!-- <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef>Title</th>
        <td mat-cell *matCellDef="let element"> {{element.title}} </td>
      </ng-container> -->
  
      <!-- Position Column -->
      <ng-container matColumnDef="a_year">
        <th mat-header-cell *matHeaderCellDef> Academic Year</th>
        <td mat-cell *matCellDef="let element"> {{element.academicDetail?.academicYear}} </td>
      </ng-container>
  
      <!-- Name Column -->
      <ng-container matColumnDef="programme">
        <th mat-header-cell *matHeaderCellDef> Program </th>
        <td mat-cell *matCellDef="let element"> {{element.academicDetail?.course?.program.programName}} </td>
      </ng-container>

      <ng-container matColumnDef="c_code">
        <th mat-header-cell *matHeaderCellDef> Course Code </th>
        <td mat-cell *matCellDef="let element"> {{element.academicDetail?.course?.code}} </td>
      </ng-container>
  
      <ng-container matColumnDef="c_name">
        <th mat-header-cell *matHeaderCellDef> Course Name </th>
        <td mat-cell *matCellDef="let element"> {{element.academicDetail?.course?.name}} </td>
      </ng-container>
  
      <!-- Weight Column -->
      <ng-container matColumnDef="class">
        <th mat-header-cell *matHeaderCellDef> Class </th>
        <td mat-cell *matCellDef="let element"> {{element.academicDetail?.streamDetail.streamClass}} </td>
      </ng-container>

      <ng-container matColumnDef="div">
        <th mat-header-cell *matHeaderCellDef> Class </th>
        <td mat-cell *matCellDef="let element"> {{element.academicDetail?.division.divisionName}} </td>
      </ng-container>
  
      <!-- <ng-container matColumnDef="nature">
        <th mat-header-cell *matHeaderCellDef> Nature </th>
        <td mat-cell *matCellDef="let element"> {{element.achievementNature.replace("_" , " ")}} </td>
      </ng-container> -->
  
      <ng-container matColumnDef="view" >
        <th mat-header-cell *matHeaderCellDef> View </th>
        <td mat-cell *matCellDef="let element">
          <!-- <a mat-raised-button color="primary" [disabled]="!element.studentCertificate" href="{{this.service.BASE_URL}}/resources/uploads/{{element.studentCertificate}}" target="_blank">View</a> -->
          <button mat-raised-button color="primary" (click)="viewDetail(element)">View Plans</button>
        </td>
      </ng-container>
  
  
      <ng-container matColumnDef="edit">
  
        <th mat-header-cell *matHeaderCellDef>Update plan</th>
        <td mat-cell
          *matCellDef="let row"
          [style.color]="row.color"
          data-label="Edit :">
          <button mat-raised-button mat-button color="primary" (click)="edit(row)">
            <mat-icon style="color: rgb(241, 231, 231)">edit</mat-icon>
          </button>
        </td>
  
      </ng-container>
  
      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef>Delete</th>
        <td mat-cell
          *matCellDef="let row"
          [style.color]="row.color"
          data-label="Delete :">
          <button mat-button color="primary" (click)="delete(row)">
            <mat-icon style="color: black; cursor: pointer"
            >delete_forever</mat-icon>
          </button>
        </td>
  
      </ng-container>
  
  
      <!-- Symbol Column -->
      <!-- <ng-container matColumnDef="n_students">
        <th mat-header-cell *matHeaderCellDef> Students count </th>
        <td mat-cell *matCellDef="let element"> {{element.n_students}} </td>
      </ng-container>
  
      <ng-container matColumnDef="s_agency">
        <th mat-header-cell *matHeaderCellDef> Supporting agency </th>
        <td mat-cell *matCellDef="let element"> {{element.s_agency}} </td>
      </ng-container> -->
  
      <!-- <ng-container matColumnDef="report">
        <th mat-header-cell *matHeaderCellDef> Report </th>
        <td mat-cell *matCellDef="let element">
          <button mat-raised-button color="primary" (click)="viewStudentAward()" >View Report</button>
        </td>
      </ng-container> -->
  
      <tr mat-header-row *matHeaderRowDef="displayedColumn_less" style="background-color:rgb(105, 109, 108);"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumn_less;" style="background-color:white"></tr>
  
    </table>
    <mat-paginator style="font-weight:bold;margin-right: 5rem;margin-left: 5rem; background-color: rgb(178, 247, 229);" #paginator [pageSize]="5" [pageSizeOptions]="[5,10, 25]"></mat-paginator>
  </div>