<h1 class="head"><strong>Results & Achievements</strong></h1>

<div class="row" style="margin-left: 1rem;margin-top: 5rem;padding-bottom: 1rem;">


  <!-- AWARDS SECTION -->

  <mat-accordion class="example-headers-align" style="margin-bottom: 0.9rem;" multi>
    <mat-expansion-panel>
      <mat-expansion-panel-header style="background-color:white;">
        <mat-panel-title  class="head_u">
          Students Awards and Achievements in Co Curricular and Curricular
        </mat-panel-title>
          <!-- <mat-icon>account_circle</mat-icon> -->
      </mat-expansion-panel-header>



<div class="row">
  <div class="col">
  <mat-form-field class="col-md-6" style="width: 75%;margin-left: 5rem;">
    <input matInput style="width: 75%;" (keyup)="applyFilter($event)" placeholder="Search...">
  </mat-form-field>
</div>
  <!-- <div class="col-md-1"></div> -->
<div class="col">
  <div class="col-md-3">
    <div class="card-body table-responsive==">
      <button mat-raised-button color="accent" class="saveBtn" (click)="addNewdepartmentAward()">Add New Details</button>
    </div>
  </div>
  </div>
</div>

<div class="table-responsive">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8  ">


    <ng-container matColumnDef="a_year">
      <th mat-header-cell *matHeaderCellDef> Year</th>
      <td mat-cell *matCellDef="let element"> {{element.year}} </td>
    </ng-container>


    <ng-container matColumnDef="name_of_student">
      <th mat-header-cell *matHeaderCellDef> Name fo Student </th>
      <td mat-cell *matCellDef="let element"> {{element.nameOfStudent}} </td>
    </ng-container>

    <ng-container matColumnDef="name_of_award">
      <th mat-header-cell *matHeaderCellDef> Name fo Award </th>
      <td mat-cell *matCellDef="let element"> {{element.nameOfAward}} </td>
    </ng-container>
    <ng-container matColumnDef="achievementNature">
      <th mat-header-cell *matHeaderCellDef> Achievement Nature</th>
      <td mat-cell *matCellDef="let element"> {{element.achievementNature}} </td>
    </ng-container>
    <ng-container matColumnDef="awarding_agency">
      <th mat-header-cell *matHeaderCellDef> Awarding agency </th>
      <td mat-cell *matCellDef="let element"> {{element.awardingAgency}} </td>
    </ng-container>


    <ng-container matColumnDef="level">
      <th mat-header-cell *matHeaderCellDef> Level </th>
      <td mat-cell *matCellDef="let element"> {{element.achievementLevel}} </td>
    </ng-container>

      <ng-container matColumnDef="report">
      <th mat-header-cell *matHeaderCellDef> Certificate </th>
      <td mat-cell *matCellDef="let element">
        <a mat-raised-button color="primary" [disabled]="!element.achievementCertificate" href="{{this.service.BASE_URL}}/resources/uploads/{{element.achievementCertificate}}" target="_blank">View</a>
      </td>
    </ng-container>

    <ng-container matColumnDef="edit">
      <td mat-cell
        *matCellDef="let row"
        [style.color]="row.color"
        data-label="Edit :">
        <button mat-button color="primary" (click)="edit(row)">
          <mat-icon style="color: black">edit</mat-icon>
        </button>
      </td>
      <th mat-header-cell *matHeaderCellDef>Edit</th>
    </ng-container>

    <ng-container matColumnDef="delete">
      <td mat-cell
        *matCellDef="let row"
        [style.color]="row.color"
        data-label="Delete :">
        <button mat-button color="primary" (click)="delete(row)">
          <mat-icon style="color: black; cursor: pointer"
          >delete_forever</mat-icon>
        </button>
      </td>
      <th mat-header-cell *matHeaderCellDef>Delete</th>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns" style="background-color:rgb(105, 109, 108);"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>
  <mat-paginator style="font-weight:bold;margin-right: 5rem;margin-left: 5rem; background-color: rgb(178, 247, 229);" #paginator1 [pageSize]="10" [pageSizeOptions]="[10, 25, 50, 100]"></mat-paginator>
  <br><br>


</div>
</mat-expansion-panel>
</mat-accordion>

<br><br>

 <!-- RESULTS UG -->

 <mat-accordion class="example-headers-align" style="margin-bottom: 0.9rem;" multi>
  <mat-expansion-panel>
    <mat-expansion-panel-header style="background-color:white">
      <mat-panel-title  class="head_u">
    Results UG
      </mat-panel-title>
        <!-- <mat-icon>account_circle</mat-icon> -->
    </mat-expansion-panel-header>



<div class="row">
<div class="col">
<mat-form-field class="col-md-6" style="width: 75%;margin-left: 5rem;">
  <input matInput style="width: 75%;" (keyup)="applyFilter_ug($event)" placeholder="Search...">
</mat-form-field>
</div>
<!-- <div class="col-md-1"></div> -->
<div class="col">
<div class="col-md-3">
  <div class="card-body table-responsive==">
    <button mat-raised-button color="accent" class="saveBtn" (click)="addNewdResultsUg()">Add New Details</button>
  </div>
</div>
</div>
</div>

<div class="table-responsive">
<table mat-table [dataSource]="resultsug_dataSource" class="mat-elevation-z8  ">


  <ng-container matColumnDef="year">
    <th mat-header-cell *matHeaderCellDef> Year </th>
    <td mat-cell *matCellDef="let element"> {{element.year}} </td>
  </ng-container>

  <ng-container matColumnDef="prog_name">
    <th mat-header-cell *matHeaderCellDef> Program Name </th>
    <td mat-cell *matCellDef="let element"> {{element.program.programName}} </td>
  </ng-container>

  <ng-container matColumnDef="students_addmitted">
    <th mat-header-cell *matHeaderCellDef> No of Students Admitted  </th>
    <td mat-cell *matCellDef="let element"> {{element.studentAdmitted}} </td>
  </ng-container>

  <ng-container matColumnDef="students_appear">
    <th mat-header-cell *matHeaderCellDef> No of Students Appeared   </th>
    <td mat-cell *matCellDef="let element"> {{element.studentAppeared}} </td>
  </ng-container>

  <ng-container matColumnDef="students_pass">
    <th mat-header-cell *matHeaderCellDef> No of Students Passed   </th>
    <td mat-cell *matCellDef="let element"> {{element.studentPassed}} </td>
  </ng-container>


  <!-- <ng-container matColumnDef="level">
    <th mat-header-cell *matHeaderCellDef> Level </th>
    <td mat-cell *matCellDef="let element"> {{element.achievementLevel}} </td>
  </ng-container> -->

  <!--  <ng-container matColumnDef="report">
    <th mat-header-cell *matHeaderCellDef> Report </th>
    <td mat-cell *matCellDef="let element">
      <a mat-raised-button color="primary" [disabled]="!element.achievementCertificate" href="{{this.service.BASE_URL}}/resources/uploads/{{element.achievementCertificate}}" target="_blank">View</a>
    </td>
  </ng-container>
 <tr mat-header-row *ma  <ng-container matColumnDef="level">
    <th mat-header-cell *matHeaderCellDef> Level </th>
    <td mat-cell *matCellDef="let element"> {{element.achievementLevel}} </td>
  </ng-container>

  <ng-container matColumnDef="report">
    <th mat-header-cell *matHeaderCellDef> Report </th>
    <td mat-cell *matCellDef="let element">
      <a mat-raised-button color="primary" [disabled]="!element.achievementCertificate" href="{{this.service.BASE_URL}}/resources/uploads/{{element.achievementCertificate}}" target="_blank">View</a>
    </td>
  </ng-container>tHeaderRowDef="displayedColumns"></tr> -->

  <ng-container matColumnDef="edit_resultug">
    <td mat-cell
      *matCellDef="let row"
      [style.color]="row.color"
      data-label="Edit :">
      <button mat-button color="primary" (click)="edit_resultug(row)">
        <mat-icon style="color: black">edit</mat-icon>
      </button>
    </td>
    <th mat-header-cell *matHeaderCellDef>Edit</th>
  </ng-container>

  <ng-container matColumnDef="delete_resultug">
    <td mat-cell
      *matCellDef="let row"
      [style.color]="row.color"
      data-label="Delete :">
      <button mat-button color="primary" (click)="delete_resultug(row)">
        <mat-icon style="color: black; cursor: pointer"
        >delete_forever</mat-icon>
      </button>
    </td>
    <th mat-header-cell *matHeaderCellDef>Delete</th>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns1" style="background-color:rgb(105, 109, 108);"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns1;"></tr>

</table>
<mat-paginator style="font-weight:bold;margin-right: 5rem;margin-left: 5rem; background-color: rgb(178, 247, 229);" #paginator2 [pageSize]="10" [pageSizeOptions]="[10, 25, 50, 100]"></mat-paginator>
<br><br>


</div>
</mat-expansion-panel>
</mat-accordion>



 <!-- RESULTS PG -->

 <mat-accordion class="example-headers-align"  style="margin-bottom: 0.9rem;" multi>
  <mat-expansion-panel>
    <mat-expansion-panel-header style="background-color:white">
      <mat-panel-title  class="head_u">

    Results PG
      </mat-panel-title>
        <!-- <mat-icon>account_circle</mat-icon> -->
    </mat-expansion-panel-header>


<div class="row">
<div class="col">
<mat-form-field class="col-md-6" style="width: 75%;margin-left: 5rem;">
  <input matInput style="width: 75%;" (keyup)="applyFilter_pg($event)" placeholder="Search...">
</mat-form-field>
</div>
<!-- <div class="col-md-1"></div> -->
<div class="col">
<div class="col-md-3">
  <div class="card-body table-responsive==">
    <button mat-raised-button color="accent" class="saveBtn" (click)="addNewdResultsPg()">Add New Details</button>
  </div>
</div>
</div>
</div>

<div class="table-responsive">
<table mat-table [dataSource]="resultspg_dataSource" class="mat-elevation-z8  ">


  <ng-container matColumnDef="year">
    <th mat-header-cell *matHeaderCellDef> Year </th>
    <td mat-cell *matCellDef="let element"> {{element.year}} </td>
  </ng-container>

  <ng-container matColumnDef="prog_name">
    <th mat-header-cell *matHeaderCellDef> Programme Name </th>
    <td mat-cell *matCellDef="let element"> {{element.program.programName}} </td>
  </ng-container>

  <ng-container matColumnDef="students_addmitted">
    <th mat-header-cell *matHeaderCellDef> No of Students Admitted  </th>
    <td mat-cell *matCellDef="let element"> {{element.studentAdmitted}} </td>
  </ng-container>

  <ng-container matColumnDef="students_appear">
    <th mat-header-cell *matHeaderCellDef> No of Students Appeared   </th>
    <td mat-cell *matCellDef="let element"> {{element.studentAppeared}} </td>
  </ng-container>

  <ng-container matColumnDef="students_pass">
    <th mat-header-cell *matHeaderCellDef> No of Students Passed   </th>
    <td mat-cell *matCellDef="let element"> {{element.studentPassed}} </td>
  </ng-container>


  <ng-container matColumnDef="edit_resultpg">
    <td mat-cell
      *matCellDef="let row"
      [style.color]="row.color"
      data-label="Edit :">
      <button mat-button color="primary" (click)="edit_resultpg(row)">
        <mat-icon style="color: black">edit</mat-icon>
      </button>
    </td>
    <th mat-header-cell *matHeaderCellDef>Edit</th>
  </ng-container>

  <ng-container matColumnDef="delete_resultpg">
    <td mat-cell
      *matCellDef="let row"
      [style.color]="row.color"
      data-label="Delete :">
      <button mat-button color="primary" (click)="delete_resultpg(row)">
        <mat-icon style="color: black; cursor: pointer"
        >delete_forever</mat-icon>
      </button>
    </td>
    <th mat-header-cell *matHeaderCellDef>Delete</th>
  </ng-container>

  <!-- <ng-container matColumnDef="level">
    <th mat-header-cell *matHeaderCellDef> Level </th>
    <td mat-cell *matCellDef="let element"> {{element.achievementLevel}} </td>
  </ng-container> -->

  <!--  <ng-container matColumnDef="report">
    <th mat-header-cell *matHeaderCellDef> Report </th>
    <td mat-cell *matCellDef="let element">
      <a mat-raised-button color="primary" [disabled]="!element.achievementCertificate" href="{{this.service.BASE_URL}}/resources/uploads/{{element.achievementCertificate}}" target="_blank">View</a>
    </td>
  </ng-container>
 <tr mat-header-row *ma  <ng-container matColumnDef="level">
    <th mat-header-cell *matHeaderCellDef> Level </th>
    <td mat-cell *matCellDef="let element"> {{element.achievementLevel}} </td>
  </ng-container>

  <ng-container matColumnDef="report">
    <th mat-header-cell *matHeaderCellDef> Report </th>
    <td mat-cell *matCellDef="let element">
      <a mat-raised-button color="primary" [disabled]="!element.achievementCertificate" href="{{this.service.BASE_URL}}/resources/uploads/{{element.achievementCertificate}}" target="_blank">View</a>
    </td>
  </ng-container>tHeaderRowDef="displayedColumns"></tr> -->
  <tr mat-header-row *matHeaderRowDef="displayedColumns2" style="background-color:rgb(105, 109, 108);"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>

</table>
<mat-paginator style="font-weight:bold;margin-right: 5rem;margin-left: 5rem; background-color: rgb(178, 247, 229);" #paginator3 [pageSize]="10" [pageSizeOptions]="[10, 25, 50, 100]"></mat-paginator>
<br><br>


</div>
</mat-expansion-panel>
</mat-accordion>




<!-- Higher education-->

<mat-accordion class="example-headers-align" style="margin-bottom: 0.9rem;" multi>
  <mat-expansion-panel>
    <mat-expansion-panel-header style="background-color:white">
      <mat-panel-title  class="head_u">

         Progression to Higher Education

      </mat-panel-title>
        <!-- <mat-icon>account_circle</mat-icon> -->
    </mat-expansion-panel-header>

<div class="row">
<div class="col">
<mat-form-field class="col-md-6" style="width: 75%;margin-left: 5rem;">
  <input matInput style="width: 75%;" (keyup)="applyFilter_higher($event)" placeholder="Search...">
</mat-form-field>
</div>
<!-- <div class="col-md-1"></div> -->
<div class="col">
<div class="col-md-3">
  <div class="card-body table-responsive==">
    <button mat-raised-button color="accent" class="saveBtn" (click)="addNewHigherEducation()">Add New Details</button>
  </div>
</div>
</div>
</div>

<div class="table-responsive">
<table mat-table [dataSource]="higher_edu_dataSource" class="mat-elevation-z8  ">


  <ng-container matColumnDef="year">
    <th mat-header-cell *matHeaderCellDef> Year </th>
    <td mat-cell *matCellDef="let element"> {{element.year}} </td>
  </ng-container>


  
  <ng-container matColumnDef="name_of_student">
    <th mat-header-cell *matHeaderCellDef> Name of student enrolling into higher education  </th>
    <td mat-cell *matCellDef="let element"> {{element.user.firstName}} {{element.user.middleName}} {{element.user.lastName}}</td>
  </ng-container>

  <ng-container matColumnDef="program">
    <th mat-header-cell *matHeaderCellDef> Program graduated from  </th>
    <td mat-cell *matCellDef="let element"> {{element.program.programName}} </td>
  </ng-container>

  <ng-container matColumnDef="admmission_to_prog">
    <th mat-header-cell *matHeaderCellDef> Name of programme admitted to  </th>
    <td mat-cell *matCellDef="let element"> {{element.admissionToProgram}} </td>
  </ng-container>

  <ng-container matColumnDef="name_of_institute">
    <th mat-header-cell *matHeaderCellDef> Name of Institution joined  </th>
    <td mat-cell *matCellDef="let element"> {{element.nameOfInstitute}} </td>
  </ng-container>

  <ng-container matColumnDef="edit_higheredu">
    <td mat-cell
      *matCellDef="let row"
      [style.color]="row.color"
      data-label="Edit :">
      <button mat-button color="primary" (click)="edit_higheredu(row)">
        <mat-icon style="color: black">edit</mat-icon>
      </button>
    </td>
    <th mat-header-cell *matHeaderCellDef>Edit</th>
  </ng-container>

  <ng-container matColumnDef="delete_higheredu">
    <td mat-cell
      *matCellDef="let row"
      [style.color]="row.color"
      data-label="Delete :">
      <button mat-button color="primary" (click)="delete_higheredu(row)">
        <mat-icon style="color: black; cursor: pointer"
        >delete_forever</mat-icon>
      </button>
    </td>
    <th mat-header-cell *matHeaderCellDef>Delete</th>
  </ng-container>

  <!-- <ng-container matColumnDef="level">
    <th mat-header-cell *matHeaderCellDef> Level </th>
    <td mat-cell *matCellDef="let element"> {{element.achievementLevel}} </td>
  </ng-container> -->

    <ng-container matColumnDef="report_upload">
    <th mat-header-cell *matHeaderCellDef> Admission proof </th>
    <td mat-cell *matCellDef="let element">
      <a mat-raised-button color="primary" [disabled]="!element.admissionProof" href="{{this.service.BASE_URL}}/resources/uploads/{{element.admissionProof}}" target="_blank">View</a>
    </td>
  </ng-container>
 <!--<tr mat-header-row *ma  <ng-container matColumnDef="level">
    <th mat-header-cell *matHeaderCellDef> Level </th>
    <td mat-cell *matCellDef="let element"> {{element.achievementLevel}} </td>
  </ng-container>

  <ng-container matColumnDef="report">
    <th mat-header-cell *matHeaderCellDef> Report </th>
    <td mat-cell *matCellDef="let element">
      <a mat-raised-button color="primary" [disabled]="!element.achievementCertificate" href="{{this.service.BASE_URL}}/resources/uploads/{{element.achievementCertificate}}" target="_blank">View</a>
    </td>
  </ng-container>tHeaderRowDef="displayedColumns"></tr> -->
  <tr mat-header-row *matHeaderRowDef="displayedColumns3" style="background-color:rgb(105, 109, 108);"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns3;"></tr>

</table>
<mat-paginator style="font-weight:bold;margin-right: 5rem;margin-left: 5rem; background-color: rgb(178, 247, 229);" #paginator4 [pageSize]="10" [pageSizeOptions]="[10, 25, 50, 100]"></mat-paginator>
<br><br>

</div>
</mat-expansion-panel>
</mat-accordion>


<!-- Placement details-->

<mat-accordion class="example-headers-align" style="margin-bottom: 0.9rem;" multi>
  <mat-expansion-panel>
    <mat-expansion-panel-header style="background-color:white">
      <mat-panel-title  class="head_u">

        Placement details

      </mat-panel-title>
        <!-- <mat-icon>account_circle</mat-icon> -->
    </mat-expansion-panel-header>

<div class="row">
<div class="col">
<mat-form-field class="col-md-6" style="width: 75%;margin-left: 5rem;">
  <input matInput style="width: 75%;" (keyup)="applyFilter_place($event)" placeholder="Search...">
</mat-form-field>
</div>
<!-- <div class="col-md-1"></div> -->
<div class="col">
<div class="col-md-3">
  <div class="card-body table-responsive==">
    <button mat-raised-button color="accent" class="saveBtn" (click)="addNewPlacementDetails()">Add New Details</button>
  </div>
</div>
</div>
</div>

<div class="table-responsive">
<table mat-table [dataSource]="placement_dataSource" class="mat-elevation-z8  ">


  <ng-container matColumnDef="year">
    <th mat-header-cell *matHeaderCellDef> Year </th>
    <td mat-cell *matCellDef="let element"> {{element.year}} </td>
  </ng-container>

  <ng-container matColumnDef="programme">
    <th mat-header-cell *matHeaderCellDef> Program graduated from  </th>
    <td mat-cell *matCellDef="let element"> {{element.program.programName}} </td>
  </ng-container>

  <ng-container matColumnDef="prog_code">
    <th mat-header-cell *matHeaderCellDef> Prog. Code </th>
    <td mat-cell *matCellDef="let element"> {{element.program.programCode}} </td>
  </ng-container>
 
  <ng-container matColumnDef="name_of_student">
    <th mat-header-cell *matHeaderCellDef> Name of Student </th>
    <td mat-cell *matCellDef="let element">{{element.user.firstName}} {{element.user.middleName}} {{element.user.lastName}}</td>
  </ng-container>

  <ng-container matColumnDef="student_contact">
    <th mat-header-cell *matHeaderCellDef> Student Contact Details</th>
    <td mat-cell *matCellDef="let element"> {{element.contactStudent}} </td>
  </ng-container>

  <ng-container matColumnDef="job_title">
    <th mat-header-cell *matHeaderCellDef> Job title </th>
    <td mat-cell *matCellDef="let element"> {{element.jobTitle}} </td>
  </ng-container>

  <ng-container matColumnDef="details_of_organization">
    <th mat-header-cell *matHeaderCellDef> Name of the  employer with contact details </th>
    <td mat-cell *matCellDef="let element"> {{element.detailOfOrganization}} </td>
  </ng-container>

  <ng-container matColumnDef="pay_package">
    <th mat-header-cell *matHeaderCellDef> Pay Package per annum </th>
    <td mat-cell *matCellDef="let element"> {{element.payPackage}} </td>
  </ng-container>
   <!-- <ng-container matColumnDef="name_of_institute">
    <th mat-header-cell *matHeaderCellDef> Name of Institute  </th>
    <td mat-cell *matCellDef="let element"> {{element.awardingAgency}} </td>
  </ng-container> -->


  <!-- <ng-container matColumnDef="level">
    <th mat-header-cell *matHeaderCellDef> Level </th>
    <td mat-cell *matCellDef="let element"> {{element.achievementLevel}} </td>
  </ng-container> -->

    <ng-container matColumnDef="report_upload">
    <th mat-header-cell *matHeaderCellDef> Placement letter </th>
    <td mat-cell *matCellDef="let element">
      <a mat-raised-button color="primary" [disabled]="!element.placementLetter" href="{{this.service.BASE_URL}}/resources/uploads/{{element.placementLetter}}" target="_blank">View</a>
    </td>
  </ng-container>

  <ng-container matColumnDef="edit_placement">
    <td mat-cell
      *matCellDef="let row"
      [style.color]="row.color"
      data-label="Edit :">
      <button mat-button color="primary" (click)="edit_placement(row)">
        <mat-icon style="color: black">edit</mat-icon>
      </button>
    </td>
    <th mat-header-cell *matHeaderCellDef>Edit</th>
  </ng-container>

  <ng-container matColumnDef="delete_placement">
    <td mat-cell
      *matCellDef="let row"
      [style.color]="row.color"
      data-label="Delete :">
      <button mat-button color="primary" (click)="delete_placement(row)">
        <mat-icon style="color: black; cursor: pointer"
        >delete_forever</mat-icon>
      </button>
    </td>
    <th mat-header-cell *matHeaderCellDef>Delete</th>
  </ng-container>
 <!--<tr mat-header-row *ma  <ng-container matColumnDef="level">
    <th mat-header-cell *matHeaderCellDef> Level </th>
    <td mat-cell *matCellDef="let element"> {{element.achievementLevel}} </td>
  </ng-container>

  <ng-container matColumnDef="report">
    <th mat-header-cell *matHeaderCellDef> Report </th>
    <td mat-cell *matCellDef="let element">
      <a mat-raised-button color="primary" [disabled]="!element.achievementCertificate" href="{{this.service.BASE_URL}}/resources/uploads/{{element.achievementCertificate}}" target="_blank">View</a>
    </td>
  </ng-container>tHeaderRowDef="displayedColumns"></tr> -->
  <tr mat-header-row *matHeaderRowDef="displayedColumns4" style="background-color:rgb(105, 109, 108);"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns4;"></tr>

</table>
<mat-paginator style="font-weight:bold;margin-right: 5rem;margin-left: 5rem; background-color: rgb(178, 247, 229);" #paginator5 [pageSize]="10" [pageSizeOptions]="[10, 25, 50, 100]"></mat-paginator>
<br><br>


</div>
</mat-expansion-panel>
</mat-accordion>




<!-- Qualitfying Competitive examination -->

<mat-accordion class="example-headers-align" style="margin-bottom: 0.9rem;" multi>
  <mat-expansion-panel >
    <mat-expansion-panel-header style="background-color:white" >
      <mat-panel-title  class="head_u" >

        Qualifying Competitive examination

      </mat-panel-title>
        <!-- <mat-icon>account_circle</mat-icon> -->
    </mat-expansion-panel-header>



<div class="row">
<div class="col">
<mat-form-field class="col-md-6" style="width: 75%;margin-left: 5rem;">
  <input matInput style="width: 75%;" (keyup)="applyFilter_comp($event)" placeholder="Search...">
</mat-form-field>
</div>
<!-- <div class="col-md-1"></div> -->
<div class="col">
<div class="col-md-3">
  <div class="card-body table-responsive==">
    <button mat-raised-button color="accent" class="saveBtn" (click)="addNewCompetativeExams()">Add New Details</button>
  </div>
</div>
</div>
</div>

<div class="table-responsive">
<table mat-table [dataSource]="competative_dataSource" class="mat-elevation-z8  ">


  <ng-container matColumnDef="year">
    <th mat-header-cell *matHeaderCellDef> Year </th>
    <td mat-cell *matCellDef="let element"> {{element.year}} </td>
  </ng-container>

  <ng-container matColumnDef="reg_no">
    <th mat-header-cell *matHeaderCellDef> Registration No. for exam  </th>
    <td mat-cell *matCellDef="let element"> {{element.regiNumber}} </td>
  </ng-container>

  
  <ng-container matColumnDef="name_of_student">
    <th mat-header-cell *matHeaderCellDef> Name of Student </th>
    <td mat-cell *matCellDef="let element">{{element.user.firstName}} {{element.user.middleName}} {{element.user.lastName}}</td>
  </ng-container>


  <ng-container matColumnDef="qualifying_exam">
    <th mat-header-cell *matHeaderCellDef> Qualitfying Exam</th>
    <td mat-cell *matCellDef="let element"> {{element.exams}} </td>
  </ng-container>

  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef> Date </th>
    <td mat-cell *matCellDef="let element"> {{element.date | date:'dd/MM/yyyy'}} </td>
  </ng-container>

  <ng-container matColumnDef="name_of_org">
    <th mat-header-cell *matHeaderCellDef> Name of Organization  </th>
    <td mat-cell *matCellDef="let element"> {{element.nameOfOrganization}} </td>
  </ng-container>


  <!-- <ng-container matColumnDef="level">
    <th mat-header-cell *matHeaderCellDef> Level </th>
    <td mat-cell *matCellDef="let element"> {{element.achievementLevel}} </td>
  </ng-container> -->

    <ng-container matColumnDef="report_upload">
    <th mat-header-cell *matHeaderCellDef> Certificate/Letter </th>
    <td mat-cell *matCellDef="let element">
      <a mat-raised-button color="primary" [disabled]="!element.letter" href="{{this.service.BASE_URL}}/resources/uploads/{{element.letter}}" target="_blank">View</a>
    </td>
  </ng-container>
 <!--<tr mat-header-row *ma  <ng-container matColumnDef="level">
    <th mat-header-cell *matHeaderCellDef> Level </th>
    <td mat-cell *matCellDef="let element"> {{element.achievementLevel}} </td>
  </ng-container>

  <ng-container matColumnDef="report">
    <th mat-header-cell *matHeaderCellDef> Report </th>
    <td mat-cell *matCellDef="let element">
      <a mat-raised-button color="primary" [disabled]="!element.achievementCertificate" href="{{this.service.BASE_URL}}/resources/uploads/{{element.achievementCertificate}}" target="_blank">View</a>
    </td>
  </ng-container>tHeaderRowDef="displayedColumns"></tr> -->

  <ng-container matColumnDef="edit_competative">
    <td mat-cell
      *matCellDef="let row"
      [style.color]="row.color"
      data-label="Edit :">
      <button mat-button color="primary" (click)="edit_competative(row)">
        <mat-icon style="color: black">edit</mat-icon>
      </button>
    </td>
    <th mat-header-cell *matHeaderCellDef>Edit</th>
  </ng-container>

  <ng-container matColumnDef="delete_competative">
    <td mat-cell
      *matCellDef="let row"
      [style.color]="row.color"
      data-label="Delete :">
      <button mat-button color="primary" (click)="delete_competative(row)">
        <mat-icon style="color: black; cursor: pointer"
        >delete_forever</mat-icon>
      </button>
    </td>
    <th mat-header-cell *matHeaderCellDef>Delete</th>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns5" style="background-color:rgb(105, 109, 108);"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns5;"></tr>

</table>
<mat-paginator style="font-weight:bold;margin-right: 5rem;margin-left: 5rem; background-color: rgb(178, 247, 229);" #paginator6 [pageSize]="10" [pageSizeOptions]="[10, 25, 50, 100]"></mat-paginator>
<br><br>


</div>
</mat-expansion-panel>
</mat-accordion>
<!---  Internship component  -->

<!-- Internship details-->

<mat-accordion class="example-headers-align" style="margin-bottom: 0.9rem;color:aquamarine;" multi>
  <mat-expansion-panel style=" color:aquamarine;">
    <mat-expansion-panel-header style="background-color:white">
      <mat-panel-title  class="head_u">

        Internship details 

      </mat-panel-title>
        <!-- <mat-icon>account_circle</mat-icon> -->
    </mat-expansion-panel-header>

<div class="row">
<div class="col">
<mat-form-field class="col-md-6" style="width: 75%;margin-left: 5rem; color:aquamarine;">
  <input matInput style="width: 75%;" (keyup)="applyFilter_intern($event)" placeholder="Search...">
</mat-form-field>
</div>
<!-- <div class="col-md-1"></div> -->
<div class="col">
<div class="col-md-3">
  <div class="card-body table-responsive==">
    <button mat-raised-button color="accent" class="saveBtn" (click)="addNewInternshipDetails()">Add New Details</button>
  </div>
</div>
</div>
</div>

<div class="table-responsive">
<table mat-table [dataSource]="internship_dataSource" class="mat-elevation-z8  ">


  <ng-container matColumnDef="year">
    <th mat-header-cell *matHeaderCellDef> Year </th>
    <td mat-cell *matCellDef="let element"> {{element.year}} </td>
  </ng-container>

  <ng-container matColumnDef="program">
    <th mat-header-cell *matHeaderCellDef> Programme </th>
    <td mat-cell *matCellDef="let element"> {{element.program.programName}} </td>
  </ng-container>

  <ng-container matColumnDef="program_code">
    <th mat-header-cell *matHeaderCellDef> Programme Code </th>
    <td mat-cell *matCellDef="let element"> {{element.program.programCode}} </td>
  </ng-container>

  <ng-container matColumnDef="course">
    <th mat-header-cell *matHeaderCellDef> Course Name </th>
    <td mat-cell *matCellDef="let element"> {{element.course.name}} </td>
  </ng-container>

  <ng-container matColumnDef="course_code">
    <th mat-header-cell *matHeaderCellDef> Course Code </th>
    <td mat-cell *matCellDef="let element"> {{element.course.code}} </td>
  </ng-container>

  <ng-container matColumnDef="name_of_student">
    <th mat-header-cell *matHeaderCellDef> Name of Student </th>
    <td mat-cell *matCellDef="let element">{{element.user.firstName}} {{element.user.middleName}} {{element.user.lastName}}</td>
  </ng-container>


  <ng-container matColumnDef="job_title">
    <th mat-header-cell *matHeaderCellDef> Job title </th>
    <td mat-cell *matCellDef="let element"> {{element.jobTitle}} </td>
  </ng-container>

  <ng-container matColumnDef="details_of_org">
    <th mat-header-cell *matHeaderCellDef> Details of organization </th>
    <td mat-cell *matCellDef="let element"> {{element.detailOfOrganization}} </td>
  </ng-container>

  <!-- <ng-container matColumnDef="name_of_institute">
    <th mat-header-cell *matHeaderCellDef> Name of Institute  </th>
    <td mat-cell *matCellDef="let element"> {{element.awardingAgency}} </td>
  </ng-container> -->


  <!-- <ng-container matColumnDef="level">
    <th mat-header-cell *matHeaderCellDef> Level </th>
    <td mat-cell *matCellDef="let element"> {{element.achievementLevel}} </td>
  </ng-container> -->

    <ng-container matColumnDef="report_upload">
    <th mat-header-cell *matHeaderCellDef> Internship letter </th>
    <td mat-cell *matCellDef="let element">
      <a mat-raised-button color="primary" [disabled]="!element.internshipLetter" href="{{this.service.BASE_URL}}/resources/uploads/{{element.internshipLetter}}" target="_blank">View</a>
    </td>
  </ng-container>

  <ng-container matColumnDef="edit_internship">
    <td mat-cell
      *matCellDef="let row"
      [style.color]="row.color"
      data-label="Edit :">
      <button mat-button color="primary" (click)="edit_internship(row)">
        <mat-icon style="color: black">edit</mat-icon>
      </button>
    </td>
    <th mat-header-cell *matHeaderCellDef>Edit</th>
  </ng-container>

  <ng-container matColumnDef="delete_internship">
    <td mat-cell
      *matCellDef="let row"
      [style.color]="row.color"
      data-label="Delete :">
      <button mat-button color="primary" (click)="delete_internship(row)">
        <mat-icon style="color: black; cursor: pointer"
        >delete_forever</mat-icon>
      </button>
    </td>
    <th mat-header-cell *matHeaderCellDef>Delete</th>
  </ng-container>
 <!--<tr mat-header-row *ma  <ng-container matColumnDef="level">
    <th mat-header-cell *matHeaderCellDef> Level </th>
    <td mat-cell *matCellDef="let element"> {{element.achievementLevel}} </td>
  </ng-container>

  <ng-container matColumnDef="report">
    <th mat-header-cell *matHeaderCellDef> Report </th>
    <td mat-cell *matCellDef="let element">
      <a mat-raised-button color="primary" [disabled]="!element.achievementCertificate" href="{{this.service.BASE_URL}}/resources/uploads/{{element.achievementCertificate}}" target="_blank">View</a>
    </td>
  </ng-container>tHeaderRowDef="displayedColumns"></tr> -->
  <tr mat-header-row *matHeaderRowDef="displayedColumns6" style="background-color:rgb(105, 109, 108);"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns6;"></tr>

</table>
<mat-paginator style="font-weight:bold;margin-right: 5rem;margin-left: 5rem; background-color: rgb(178, 247, 229);" #paginator7 [pageSize]="10" [pageSizeOptions]="[10, 25, 50, 100]"></mat-paginator>
<br><br>


</div>
</mat-expansion-panel>




</mat-accordion>